<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Если запрос не к существующему файлу или директории, перенаправить на index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>